<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav" >
            <li class="uk-active uk-parent">
                <a href="/" title="Главная страница">Главная</a>
            </li>
            <li class="uk-parent">
                <a href="/upload" title="Загрузка файлов">Загрузка</a>
            </li>

        </ul>
    </div>
</nav>


